catalogo {
    display: block;
	background-color: #f2f2f2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    padding: 20px;
}

libro {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
}

titulo {
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
}

autor {
    font-size: 18px;
    font-style: italic;
    color: #555;
}

año, editorial {
    font-size: 16px;
    color: #666;
}
